/* FONT-FASE */
@mixin font-face(
  $font-name,
  $path,
  $weight: 400,
  $style: normal,
  $display: swap
) {
  @font-face {
    font-family: quote($font-name); /* IE9 Compat Modes */
    src: 
      /* Safari, Android, iOS */ url($path + '.woff') format('woff'),
      /* Modern Browsers */ url($path + '.woff2') format('woff2'),
      /* Legacy iOS */ url($path + '.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
    font-display: $display;
  }
}
